body {
    background-color: #967254;
}

.horizontal-section {
    padding: 100px 0;
    background-color: pink;

}

.sticky-wrapper {
    width: 100%;
    overflow: hidden;
    position: sticky;
    top: 100px;

}

.element-wrapper {
    position: relative;
    display: flex;
}

.element1 {
    width: 640px;
    height: 640px;
    margin: 0 20px 0 0;
    flex-shrink: 0;

}

.element2 {
    width: 640px;
    height: 640px;
    margin: 0 20px 0 0;
    flex-shrink: 0;

}

.element3 {
    width: 750px;
    height: 750px;
    margin: 0 20px 0 0;
    flex-shrink: 0;

}

.element4 {
    width: 912px;
    height: 912px;
    margin: 0 20px 0 0;
    flex-shrink: 0;

}

.element5 {
    width: 912px;
    height: 912px;
    margin: 0 20px 0 0;
    flex-shrink: 0;

}

.element6 {
    width: 750px;
    height: 750px;
    margin: 0 20px 0 0;
    flex-shrink: 0;

}